dg-login {
    height: 470px;
    width: 440px;
    border-radius: 15px;
    background-color: red;
    background-image: radial-gradient(#28bae2, #001d40);
    display: block;

    & > div:not( #compatibleBrowsers ) {
        padding: 48px;

        img {
            width: 130px;

            &#dglogo {
                margin: {
                    top: 20px;
                    bottom: 20px;
                }
            }
        }

        input {
            height: 40px;
        }
    }

    #compatibleBrowsers {
        position: absolute;
        right: 70px;
        bottom: 30px;
    }
}
