@import './text.scss';
$test: #ffffff;

p,
h3 {
    color: $test;
    background-color: rgb(182, 133, 182) !important;
    margin: 0 0 10px;
    padding: 0;
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, .15);

    span {
        color: rgb(151, 47, 47);
        border: 5px solid rgb(231, 152, 152);
    }
}
